*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
section.login{
    padding: 5em 0;
}

.card{
    /* border: none; */
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}